.main_container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.main_container_navbar{
    width:73%;
    margin-left: auto;
    margin-right: auto;
}
.center_item{

    width:22%;
    margin-left:auto;
    margin-right: auto;
}
.width_25{
    width:25%;
    margin-left:auto;
    margin-right: auto;
}