.main_container{
    width:90%;
    margin-left:auto;
    margin-right: auto;
    margin-top:2%;
}

.product_container{
    width:100%;
    display: block;
    float:left;
}
.product_container.left{
    width:50%;
}
.product_container.right{
    width:50%;
}